:root{
    --bg-color:white;
    --sec-bg-color: rgb(203, 203, 203) ;
    --text-color:black;
    --highlight:#FF791F;
    --acc-color:#003043;
    --main-font:"Noto Sans Sogdian", sans-serif;
    --sec-font:--font-sec:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;;
}

*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

a{
    text-decoration: none !important;
    cursor: pointer !important;
    color: black;
}

a:hover{
    color: var(--highlight);
}

ul{
    list-style: none !important;
}

html{
    scroll-behavior: smooth;
}

body{
    width: 100%;
    background-color: var(--sec-bg-color);
    font-family: var(--main-font);
    color: black;
    min-width: 300px;
}

.container{
    margin: auto;
}

.section{
    margin-bottom: 40px;
    margin-left: 0;
    margin-right: 0;
    box-shadow: 0px 8px 24px rgba(124, 124, 124, 0.11);
}

.section:last-of-type{
    margin-bottom: 0px;
}

header{
    width: 100%;
    height: 100px;
    position: fixed;
    top: 0px;
    left: 0;
    background-color: var(--bg-color);
    z-index: 1000;
}

.head{
    max-width: 940px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    
    
}

#nav-logo{
    width: 20%;
    padding-bottom: 120px;
    max-height: 140px;
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: center;
    top: 0px;
    background: linear-gradient(rgba(0,0,0,0.9), rgba(0,0,0,0)), rgba(0, 0, 0, 0.733);
    object-fit: cover;
    background-repeat: no-repeat;
    
}

#nav-logo div{
    width: 100%;
    text-align: center;
    font-weight: 800;
    margin-top: 120px;
    color: var(--bg-color);
    font-family:  "Anton", sans-serif;;
    text-align: center;
    
}

.nav{
   
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    max-height: 100%;
    max-width: initial;
}

.nav-li{
    display: inline-block;
    padding-top: 40px;
    margin: 0 20px;
}

.nav-menu{
    height: 260px;
    background-color: var(--bg-color);
    position: fixed;
    right: 0;
    top: 80px;
    max-width: 168px;
    padding-bottom: 100px;
    
}

.hidden{
    display: none;
}
.nav-menu ul{
    display: inline-block;
    flex-direction: column;
    justify-content: flex-start;
    padding-top: 40px;
    padding-right: 40px;
        
}

.menu-li{
    width: 100%;
    padding: 10px;
    margin-left: 0;
    margin-right:100%;
    border-bottom: 2px solid rgba(201, 201, 201, 0.363);
}


.nav-menu-logo{

    max-height: 100%;
    max-width: 40px;
    min-width: 20px;
    padding-top: 32px;
    margin: 0 20px;

}
.nav-menu-logo svg{
    width: 40px;
    height: 40px;
}

.nav-social{
    display: inline-block;
    padding-top: 42px;
    margin: 0 12px;
}


.nav-link{
    color: var(--main-font);
    font-family: "Open Sans", sans-serif;
    font-size: 1rem;
    letter-spacing: 0.3px;
    font-weight: 400;
    line-height: 1.5;
    text-align: center;
}

.nav-social svg{
    width: 30px;
    height: 20px;
}



.hero{
    width: 100%;
    height:360px;
    background-image: linear-gradient(rgba(0, 0, 0, 0.2) , rgba(0, 0, 0, 0.2)), url('img/banner.jpg');
    background-size: cover;
    background-position: center; 
    margin-top: 100px;
}

#h2-hero{
    color: var(--bg-color);
    display: flex;
    position: relative;
    top: 120px;
    left: 35%;
    width: 40%;
    height: 100%;
    font-size: 2.5rem;
    flex-direction: column;
    margin: auto;
    justify-content: center;
    font-family: "Open Sans", sans-serif;
    z-index: 50;
    

}

#h2-hero span:last-of-type::before{
    content: "&";
    font-size: 2rem;
    color: var(--text-color);  
    text-shadow: none;
    padding-right: -4px;
}

#h2-hero span:last-of-type{
    color: var(--bg-color);
       
}

.welcome{
    max-height: max-content;
    width: 100%;
    padding: 60px 10px 40px 10px;
    background-color: var(--bg-color);
    

}

.welcome-con{
    max-width: 940px;
    max-height: 100%;
    margin: auto;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    margin-bottom: 160px;
}

.welcome-1{
    width: calc(40% - 20px);
    font-size: 1.5rem;
    font-weight: 800;
}

.welcome-1 span{
    color: #ff6600;
}

.welcome-2{
    width: calc(60% - 20px);
    font-size: 0.9rem;
    font-family: var(--main-font);
    font-weight: 400;
    letter-spacing: 0.4px;
    word-spacing: 2px;
}

#Destinations{
    background-color: var(--bg-color);
    color: var(--bg-color);
    padding: 100px;
    margin-top: 20px;
}

.sec-title{
    color: var(--text-color);
    text-align: right;
    margin-bottom: 28px;
    font-size: 1.5rem;
}

.dest-container{
    width: 100%;
    background-color: var(--sec-bg-color);
    display:flex;
    flex-direction: row;
    justify-content: space-evenly;
    flex-wrap: nowrap;
    margin-bottom: 80px;
}

.dest-tile{
    width: 33.333%;
    height: 360px;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    transition: ease-in-out 0.4s;
    color: var(--txt-color);
    padding: 20px;
    background-color: var(--sec-bg-color);
    
}

.dest-tile h4{
    margin: 16px 0 ;
    font-size: 1.4rem;
    font-family: var(--font-sec);
}

.dest-tile p{
    font-size: 0.7rem;
    word-spacing: 0.7px;
}



.Paris{
    background-image:linear-gradient(rgba(0, 0, 0, 0) , rgba(0, 0, 0, 0.8) 90%), url(img/1.jpg);
    background-position: top;
    background-size: cover;
}

.New-york{
    background-image: linear-gradient(rgba(0, 0, 0, 0), rgba(0, 0, 0, 0.8) 90%),url(img/2.jpg);
    background-position: top;
    background-size: cover;
}

.Tokyo{
    background-image:linear-gradient(rgba(0, 0, 0, 0) , rgba(0, 0, 0, 0.9) 90%), url(img/3.jpg);
    background-position: top;
    background-size: cover;
}

.dest-tile:hover{
    width: 90%;
    color: var(--bg-color);
}

.about{
    width: 100%;
    background-color: var(--bg-color);
    color: var(--bg-color);
    padding: 40px;
    color: var(--text-color);
    padding-top: 100px;
}

.about p{
    
   font-size: 0.875em;
   letter-spacing: 0px;
}



.drop-cap::first-letter {
    font-size: 3em; /* Adjust the size as needed */
    font-weight: 400;
    float: left;
    margin-right: 4px;
    line-height: 1;
    font-family: cursive;
}

.about h4{
    margin-top: 16px;
    margin-bottom: 12px;
    color: var(--highlight);
    text-shadow: -0.5px 0.5px 0px black;

}

.about-parts{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding-left: 50px;
    margin-bottom: 100px;
}

.about-part{
    width: calc(50% - 20px);
}

.about-1{
    padding-top: 20px;
}

.about-2 {
    background-image: url(img/about.jpg);
    background-position: center; 
    background-size: cover;
     background-repeat: no-repeat;  
}


.contact{
    background-color:var(--acc-color);
    margin-top: 40px;
    padding: 120px 40px 40px 40px;
   
   
}

.contact h3{
    color: white;
    text-align: right;
    margin-bottom: 44px;
    font-size: 1.5rem;
    margin: auto;
    padding-right: 10px;
}

.con-container{
    max-width: 740px;
    padding-top: 80px;
    padding-bottom: 120px;
    margin: auto;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-content: center;
    flex-wrap: wrap;
    margin-top: 10px;
}

.social-link{
    height: 100%;
    width: 10%;
    display: flex;
    justify-content: center;
    align-content: center;
    color: var(--bg-color);
    
}

.social-link a{
    text-decoration: none;
    color: var(--sec-bg-color);
    transition: ease-in-out 0.1s;
}
.social-link svg {
    width: 40px;
    height: 50px;
}

.social-link a:hover{
    text-decoration: none;
    color: var(--highlight)
}


.feedback-form-container {
    max-width: 740px;
    margin: auto;
    padding: 20px;
    border: 1px solid var(--sec-bg-color);
    border-radius: 10px;
    background-color:var(--sec-bg-color);
    margin-bottom: 40px;
}

.feedback-form-container h2 {
    text-align: center;
    margin-bottom: 40px;
    font-size: 1rem;
    
}

.form-row {
    display: flex;
    justify-content: space-between;
}

.form-column {
    width: 48%;
}

.form-group {
    margin-bottom: 15px;
}

.form-group label {
    display: block;
    margin-bottom: 5px;
    font-weight: bold;
    font-size: 0.9rem;
}

.form-group label::before{
    content: '*';
    padding-right: 2px;
    font-size: 0.7rem;
    color: red;
    padding-bottom: 2px;
}

.form-group input, .form-group textarea {
    width: 100%;
    padding: 10px;
    border: 1px solid #ccccccfe;
    border-radius: 5px;
    box-sizing: border-box;
    background-color: rgba(255, 253, 253, 0.87);
}

button[type="submit"] {
    display: block;
    width: 100%;
    padding: 10px;
    border: none;
    border-radius: 10px;
    background-color: var(--highlight);
    color: white;
    font-size: 16px;
    cursor: pointer;
    margin-top: 20px;
}

button[type="submit"]:hover {
    background-color: #ff6600;
}

#footer {
    background: linear-gradient(rgba(0,0,0,0.9), rgba(0,0,0,0.3)), rgba(0, 0, 0, 0.733);
    color: #fff;
    padding: 20px 0;
    text-align: center;
    padding-top: 40px;
}

.footer-container {
    display: flex;
    flex-direction: row;
    justify-content: center;
    flex-wrap: nowrap;
    margin: auto;
    margin-bottom: 80px;
    
}

.footer-section {
    padding-left: 60px;
    margin: 10px;

}

.footer-section h4 {
    margin-bottom: 10px;
    color: #ffcc008c;
}

.footer-section p,
.footer-section a {
    color: rgba(255, 255, 255, 0.671);
    text-decoration: none;
    text-decoration: none;
}

.footer-section a:hover {
    color: white;
}





@media (max-width:1100px){
    .head{
        max-width: 840px;
    }

    .nav-link{
        font-size: 0.9rem;
        letter-spacing: 0.2px;
    }
    
}

@media (max-width:1000px){
    .head{
        max-width: 740px;
    }

    .nav-link{
        font-size: 0.85rem;
        letter-spacing: 0.2px;
    }

    .feedback-form-container {
        max-width: 640px;
    }

    .con-container{
        max-width: 640px;
       
    }

}


@media (max-width:900px){
    .head{
        max-width: 640px;
    }


    .nav-link{
        font-size: 0.9rem;
        letter-spacing: 0.1px;
    }

    .nav-social{
        display: none;
        padding-top: 42px;
        margin: 0 12px;
    }

    
#nav-logo{
    width: 24%;
    padding-bottom: 120px;
    max-height: 120px;

}

.nav{
    margin-left: 10px;
}

.welcome-1{
    font-size: 1.2rem;
    font-weight: 600;
    padding-left: 80px;
    padding-right: 12px;
}


.about{
    width: 100%;
    height: max-content;
    background-color: var(--bg-color);
    color: var(--bg-color);
    padding: 20px;
    color: var(--text-color);
    padding-top: 100px;  
    padding-bottom: 40px;
}


.about p{
    
   font-size: 0.875em;
   letter-spacing: 0px;
   
}



.about-parts{
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 0;
}

.about-part{
    width: calc(100%);
    margin: auto;
}

.about-1{
    
    order: 2;
    padding: 40px 12px 60px 12px;
    font-size: 0.9rem;
}

.about-2 {
    order: 1;
    background-image: url(img/about.jpg);
    background-position: top; 
    background-size: cover;
    background-repeat: no-repeat;  
    height: 300px;
   
     
}



}

@media (max-width:940px){

    .dest-container{
        flex-direction: column;
        justify-content: space-evenly;
        flex-wrap: wrap;
    }
    
    .dest-tile{
        width: 100%;
        height: 270px;           
    }

    .dest-tile:hover{
        height: 360px;
        width: 100%;
        color: var(--bg-color);
    }

}

@media (max-width:800px){

    .con-container{
        max-width: 540px;
       
    }

    .feedback-form-container {
        max-width: 540px;
    }
}

@media (max-width:760px){
    .welcome-1{
        padding-left: 60px;
        padding-right: 24px;
    }

}

@media (max-width:720px){



    .head{
        max-width: 85%;
        
       
    }


    .nav-link{
        font-size: 0.9rem;
        letter-spacing: 0.1px;
    }

    .nav-social{
        display: none;
        padding-top: 42px;
        margin: 0 12px;
    }

    
#nav-logo{
    width: 20%;
    min-width: 120px;
    padding-bottom: 100px;
    max-height: 100px;

}

.nav{
    margin-left: 20px;
    display: none;
}



.nav-menu-logo:hover .nav-menu {
    
        display: inline-block;
    
}

.nav-menu-logo{
    display: inline;
}

.welcome{
    max-height: min-content;
    width: 100%;
    padding: 40px 0px 40px 0px;
    background-color: var(--bg-color);
    

}

.welcome-con{
    max-width: 85%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: left;
}

.welcome-1{
    width: calc(100% - 20px);
    font-size: 1.5rem;
    font-weight: 800;
    margin: auto;
    padding: 0;
}

.welcome-1 span{
    color: #ff6600;
}

.welcome-2{
    width: calc(100% - 20px);
    font-size: 0.9rem;
    font-family: var(--main-font);
    font-weight: 400;
    letter-spacing: 0.4px;
    word-spacing: 2px;
    margin: auto;
    padding: 0;
    margin-top: 12px;
}

.hero{
    width: 100%;
    height:260px;
    

}

#h2-hero{
    display: flex;
    position: relative;
    top: 80px;
    left: 35%;
    width: 40%;
    height: 100%;
    font-size: 2rem;
    color: var(--bg-color);
    padding-right: 40px;

}

#h2-hero span:last-of-type::before{
    color: var(--text-color);
    font-size: 1.5rem;
    padding-right: 0px;
}
.sec-title{
    font-size: 1.2rem;
}

#Destinations{
    background-color: var(--bg-color);
    color: var(--bg-color);
    padding: 20px;
    margin-top: 20px;
    padding-top: 100px;
    padding-bottom: 40px;
    margin: a;
}

.dest-container{
    flex-direction: column;
    justify-content: space-evenly;
    flex-wrap: wrap;
}

.dest-tile{
    width: 100%;
    height: 240px;           
}

.dest-tile:hover{
    height: 360px;
    width: 100%;
    color: var(--bg-color);
}


.feedback-form-container {
    max-width: 100%;
    padding: 20px;
    
}

.feedback-form-container h2 {
    font-size: 0.8rem;
    
}

.form-row {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.form-column {
    width: 100%;
    height: max-content;
}



.form-group label {
    display: block;
    margin-bottom: 5px;
    font-weight: normal;
    font-size: 0.8rem;
}

.form-group label::before{
    font-size: 0.6rem;
    
}



.form-group input, .form-group textarea {
   padding-left: 5px;
}

button[type="submit"] {
    display: block;
    width: 80%;
    margin: auto;
    padding: 10px;
    margin-top: 20px;
}

button[type="submit"]:hover {
    background-color: #ff6600;
}

.con-container{
    max-width: 90%;
    padding: 10px;
    margin-bottom: 100px;
    margin-top: 60px;
    
}

.social-link svg {
    width: 30px;
    height: 50px;
}

.footer-section {
    padding-left: 40px;
    padding-right: 20px;
    margin: 10px;
    font-size: 0.8rem;
}

.footer-bottom{
    font-size: 0.9rem;
}


}

@media (max-width:540px){

 .hero{
    height: 240px;
 }

 #h2-hero{
    
    top: 100px;
    font-size: 1.5rem;
    flex-direction: column;
    margin: auto;
    justify-content: center;
    font-family: "Open Sans", sans-serif;
    z-index: 50;
    

}

#h2-hero span:last-of-type::before{
    
    font-size: 1.3rem;
}}